body
  padding: 50px
  font: 14px monospace, sans-serif

a
  color: #00B7FF

header.main
  img
    float left
  h1
    float left
    margin 1em 0.2em

#content
  clear both

pre
  background-color #ddd
  padding 1em
  border-left 1em solid #444
