doctype html
html
  head
    title Welcome to M.
    link(rel='stylesheet', href='/css/style.css')
  body
    header.main
      img#logo(src='/img/logo.png')
      h1 Express Magic
    div#content
      block content

    script.
      var d = document;
      var s = d.createElement('script');
      s.src = '/js/bundle.js';
      d.body.appendChild(s);