doctype html
html
  head
    title Welcome to M.
    link(rel='stylesheet', href='/css/style.css')
  body
    header.main
      img#logo(src='/img/logo.png')
      h1 Express Magic
    div#content
      block content

    script#load-js(src='/js/load.js')
