body
  padding: 50px
  font: 14px monospace, sans-serif
  max-width 900px

a
  color: #00B7FF

header.main
  display inline-block

  img
    float left
  h1
    float left
    margin 1em 0.2em

#content
  clear both

h4
  margin 3em 0 1em

pre
  background-color #ddd
  padding 1em
  border-left 1em solid #444
