extends ../layout

block content
  header
    h2 Hosts && Magic && A Wizard

  div.content
    article#about
      header
        h4 Who is it for?

      p
        | This page was built with the help of 
        a(href='https://github.com/express-magic/express-magic' target='_blank') Magic

      p
        | Magic is not for the faint of heart.
        | It is built by programmers for programmers.

      p
        | What you see running here is a bunch of jade templates, stylus css 
        | and browserified javascript, tunneled through express.

    article#magic
      header
        h4 Magic

      p
        | in essence, Magic is an express app mounter.

      p
        | it is designed not to be used actively.
        | Instead, the goal is to magically reduce all the tedious boilerplate
        | that usually has to be written to get an express app running. 

    article#github
      header
        h4 github

      p
        | The magic-host powering this page can be found at 
        a(href='https://github.com/express-magic/magic-localhost' target='_blank') github
        | .
